### **1. 정수형** 
-- (다양한 진법 표현)

In [ ]:
# 다양한 데이터 표현 : 2진법, 8진법, 10진법, 16진법
# int(num, radix) : raidx 진수로 표현된 문자열 num을 10진수로 반환

print(int('00000010', 2))
print(int('00000010', 8))
print(int('00000010', 10))
print(int('00000010', 16))

# 다양한 진법 변환
print(bin(10)) # bin : 정수 형태의 숫자를 2진수(binary) 로 변환(0b)
print(oct(10)) # oct : 정수 형태의 숫자를 8진수(octal)로 변환(0o)
print(hex(10)) # hex : 정수 형태의 숫자를 16진수(hexadecimal)로 변환(0x)

2
8
10
16
0b1010
0o12
0xa

### **2. 리스트** 
리스트 부분 항목

In [ ]:
# 리스트 생성 및 초기화
sList = ['국어', '영어', '수학', '과학']

# 리스트 원소 접근
sList[:] # ['국어', '영어', '수학', '과학']
sList[0:4] # ['국어', '영어', '수학', '과학']
sList[:3] # ['국어', '영어', '수학']
sList[1:] # ['영어', '수학', '과학']

sList[1] = '역사' # ['국어', '역사', '수학', '과학']
sList[1:3] = ['영어', '철학'] # ['국어', '영어', '철학', '과학']

sList[1:2] = ['정치', '경제'] # ['국어', '정치', '경제', '철학', '과학']
sList[1:3] =  ['사회'] # ['국어', '사회', '철학', '과학']

### **3. input 내장 함수**

In [ ]:
# 1) 데이터 입력: 사용자로부터 두 개의 정수
x = int(input('첫 번째 정수 입력: '))
y = int(input('두 번째 정수 입력: '))

# 2) 계산 작업
sum = x + y

# 3) 결과 출력
print(x, '와', y, '의 합은', sum, '입니다')
print(str(x) + '와' + str(y) + '의 합은' + str(sum) + '입니다.')

# 다양한 문자열 포매팅
print('%d 와 %d 의 합은 %d 입니다.' % (x, y, sum))
print('{} 와 {} 의 합은 {} 입니다.'.format(x, y, sum))
print(f'{x} 와 {y} 의 합은 {sum} 입니다.')

첫 번째 정수 입력: 3
두 번째 정수 입력: 5
3 와 5 의 합은 8 입니다
3와5의 합은8입니다.
3 와 5 의 합은 8 입니다.
3 와 5 의 합은 8 입니다.
3 와 5 의 합은 8 입니다.

### **4. print 내장 함수**

In [ ]:
# 리스트 생성 및 초기화
aList = [10, 20, 30]

# append 메소드 : 리스트 맨 마지막 원소로 추가
aList.append(40)
aList.append(50)

# 내장 함수 : len
print(f'전체 원소: {aList}')
print(f'전체 원소 개수: {len(aList)}')

# count 메소드 : 특정 원소의 총 개수
print(f'데이터 10의 총 개수: {aList.count(10)}')
print(f'데이터 20의 총 개수: {aList.count(20)}')
print(f'데이터 30의 총 개수: {aList.count(30)}')

# 내장 함수 :  len, sum
print(f'전체 원소 합계: {sum(aList)}')
print(f'전체 원소 평균: {sum(aList)/len(aList)}')

# 내장 함수 : max, min
print(f'전체 원소 최댓값: {max(aList)}')
print(f'전체 원소 최댓값: {min(aList)}')

전체 원소: [10, 20, 30, 40, 50]
전체 원소 개수: 5
데이터 10의 총 개수: 1
데이터 20의 총 개수: 1
데이터 30의 총 개수: 1
전체 원소 합계: 150
전체 원소 평균: 30.0
전체 원소 최댓값: 50
전체 원소 최댓값: 10

### **5. 논리 연산자**

In [ ]:
a = 5
print(a<5 and a<10) # False
print(a<5 or a<6) # True
print(not(a<5 and a<10)) # True

print(True and False) # False
print(True or False) # True
print(not True) # False

print(1 and 0) # 0
print(1 or 0) # 1
print(not 1) # False

print(5 and -5) # -5
print(5 or -5) # 5
print(not 5) # False

False
True
True
False
True
False
0
1
False
-5
5
False

### **6. 이중 선택**

In [ ]:
print('학생 성적(0~100)을 입력하시오...')
num = int(input('num: '))

# 짝수와 홀수 판단: 단순 if-else
if num % 2 == 0:
  print(f'{num}은 짝수입니다.')
else:
  print(f'{num}은 홀수입니다.')

# Pass, Non-Pass 판단: 복합문
if num >=60:
  print('Pass, ', end = '')
  print('축하드립니다.')
else:
  print('Non-Pass, ', end = '\t')
  print('내년에 다시 뵈여.')

학생 성적(0~100)을 입력하시오...
num: 55
55은 홀수입니다.
Non-Pass, 	내년에 다시 뵈여.

![image.png]()

97을 입력했을 때의 실행 결과.

### **7. 성적 계산**
총점과 평균 --일반 변수
성적 계산 : 사용자로부터 세 과목(국어, 영어, 수학)의 점수를 입력 받은 후에, 총점과 평균을 구하는 프로그램을 작성하시오.

사용자로부터 입력 받는 데이터는 모두 정수 형태이다.

- 각각의 데이터에 대하여 **일반 변수 개념**을 이용하여 저장하시오.

단 평균 계산 결과 값은 실수이다.

- 계산 결과인 실수 값은 소수점 둘째자리까지만 출력한다.

In [ ]:
print("세 과목의 점수를 입력하시오...")
kor = int(input('국어: ')) # 국어 성적
eng = int(input('영어: ')) # 영어 성적
math = int(input('수학: ')) # 수학 성적

sum = kor + eng + math # 총합

print(f'총점: {sum}, 평균: {round(sum/3, 2)}')

세 과목의 점수를 입력하시오...
국어: 70
영어: 80
수학: 91
총점: 241, 평균: 80.33

각 과목의 성적을 input 함수로 받은 후 int 함수를 통해 정수형으로 만들어 준다.

각 과목의 합을 sum 변수에 할당한 후, 과목의 총 개수인 3으로 나눈 평균 값을 round 함수를 통해 소수점 셋째자리에서 반올림하여 출력한다.

### **8. 성적 계산**
총점과 평균 -- 리스트

성적 계산 : 사용자로부터 세 과목(국어, 영어, 수학)의 점수를 입력 받은 후에, 총점과 평균을 구하는 프로그램을 작성하시오.

사용자로부터 입력 받는 데이터는 모두 정수 형태이다.

- 각각의 데이터에 대하여 **리스트 개념**을 이용하여 저장하시오.

- 리스트의 맨 마지막 원소로 추가하는 append 메소드를 활용하시오.

단 평균 계산 결과 값은 실수이다.

- 계산 결과인 실수 값은 소수점 둘째자리까지만 출력한다.

In [ ]:
print("세 과목의 점수를 입력하시오...")
score = [] # 과목 성적 리스트
score.append(int(input("국어: "))) # 국어 성적 추가 
score.append(int(input("영어: "))) # 영어 성적 추가
score.append(int(input("수학: "))) # 수학 성적 추가

print(f"총점: {sum(score)}, 평균: {round(sum(score)/len(score), 2)}")

세 과목의 점수를 입력하시오...
국어: 70
영어: 80
수학: 91
총점: 241, 평균: 80.33

세 과목의 점수를 element로 갖는 리스트 score 를 빈 리스트로 생성해준 후, int, input 함수를 통해 받은 값을 score 리스트에 append 함수를 사용하여 추가해준다.

과목의 총점은 리스트에 sum 함수를 사용한 sum(score)가 되고, 과목의 평균은 총점에 과목의 총 개수, 즉 리스트의 길이인 len(score)로 나눈 값이 된다.

평균 값은 round 함수를 사용해 반올림하여 소수점 둘째자리까지 출력할 수 있도록 하였다.

### **9. 자판기 잔돈 계산**

자판기 잔돈 계산 : 사용자로부터 천원 단위로 금액을 입력받은 후에, 거스름 돈을 계산하는 프로그램을 작성하시오.
- 단, 금액은 1,000원 단위 지폐만 입력 받을 수 있다고 가정하자.
- 커피 값은 250원이라고 가정하자.
- 거스름 돈은 500원, 100원, 50원, 10원짜리 동전이다.

사용자로부터 입력된 금액에서 커피 값만큼 제외하고, 나머지 거스름돈을 동전으로 지불하는 프로그램을 작성하시오.

In [ ]:
money = int(input("금액을 입력하세요(1,000원 단위): "))
print("그대에게 잔돈을 드릴게요...")

money -= 250 # 커피 구매

coin = [500, 100, 50, 10] # 500원 짜리, 100원 짜리, 50원 짜리, 10원 짜리 동전.
for i in range(len(coin)): # 모든 종류의 동전에 대해
  print(f"{coin[i]}원짜리 동전: {money//coin[i]}개") # 거스름돈에서 동전 값 나눈 몫 = 동전 개수
  money = money % coin[i] # 계산한 동전을 제외한 나머지 거스름돈

금액을 입력하세요(1,000원 단위): 1000
그대에게 잔돈을 드릴게요...
500원짜리 동전: 1개
100원짜리 동전: 2개
50원짜리 동전: 1개
10원짜리 동전: 0개

우선, int, input 함수를 사용하여 사용자가 자판기에 넣은 금액을 변수 money에 입력 받는다.

그 후, 커피 값인 250을 money에서 빼고 거스름돈으로 지불할 동전의 종류인 coin 리스트를 생성한다. 이때, coin 리스트는 가장 값이 큰 동전부터 값이 점점 작아지도록 생성한다.

for 반복문을 통해 coin에 속한 동전의 종류를 모두 방문하여, money 값을 동전의 값으로 나눈 몫을 해당 종류의 동전의 개수로 출력할 수 있도록 하였고, 나머지를 그대로 money에 할당하여 for 문이 정상적으로 작동할 수 있도록 하였다.

### **10. 초를 시간, 분, 초 형식으로 변환** 
사용자로부터 초(seconds)를 입력 받은 후에 몇 시간, 몇 분, 몇 초인가를 계산하는 프로그램을 작성하시오.
- 사용자로부터 입력 받은 데이터(초)는 정수 형태이다.
- 단, 분과 초는 0~59 사이 값만 출력 되어야 한다.

In [ ]:
sec = int(input('계산하고자 하는 초를 입력하세요: ')) # 입력 받은 초
print(f'{sec}초는...')
minute = sec // 60 # 입력 받은 초가 몇 분인지
sec = sec % 60
hour = minute // 60 # 위에서 계산한 분이 총 몇 시간인지
minute = minute % 60

print(f'{hour}시간, {minute}분, {sec}초입니다.')

계산하고자 하는 초를 입력하세요: 12001
12001초는...
3시간, 20분, 1초입니다.

sec 변수에 사용자로부터 입력받은 초를 할당하고, 1분이 60초이기 때문에 minute 변수에 sec을 60으로 나눈 몫으로 하였다.

그리고 나머지를 sec으로 하여 초를 나타내었다.

minute도 60이 넘을 수 있기 때문에 1시간은 60분이므로 60으로 나눈 몫을 hour로, 나머지를 다시 minute에 할당하여 시간과 분을 계산하였다.